* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

::selection {
  color: #fff;
  background-color: rgb(91, 44, 138);
}

body,
html {
  padding: 0px;
  margin: 0px;
}

.header {
  height: 90px;
  display: flex;
  align-items: center;
  background-color: rebeccapurple;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-left: 20px;
  color: #fff;
}

.main {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 600px;
  background-color: #eee;
  padding: 40px 40px 40px 40px;
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.form_content {
  display: flex;
  flex-direction: column;
}

.form label {
  font-size: 1.7rem;
}

.form input {
  font-size: 1.3rem;
  padding: 10px;
  border-radius: 8px;
  border: solid 1px #ccc;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.form input:focus {
  border: solid 1px rebeccapurple;
  outline: none;
}

.form button {
  height: 60px;
  width: 120px;
  padding: 10px 20px;
  margin: 40px 0px 0px 60px;
  font-size: 1.5rem;
  border-radius: 8px;
  border: none;
  background-color: rebeccapurple;
  color: #fff;
  cursor: pointer;
  border: solid 1px #fff;
  transition: background-color 200ms ease, color 200ms ease;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.form button:hover {
  color: rebeccapurple;
  background-color: #fff;
  border: solid 1px rebeccapurple;
  transition: background-color 400ms ease, color 400ms ease;
}

.error_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.error {
  background-color: lightcoral;
  height: 60px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin: 10px;
  width: 80%;
}

.error > p {
  padding: 10px;
  margin-left: 20px;
  color: #111;
  font-size: 1.5rem;
  font-weight: 300;
}

.logout {
  background-color: rebeccapurple;
  border: solid 1px #fff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 200ms ease, color 200ms ease;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.logout:hover {
  color: rebeccapurple;
  background-color: #fff;
  border: solid 1px rebeccapurple;
  transition: background-color 300ms ease, color 300ms ease;
}

.logout_container {
  text-decoration: none;
  margin-left: auto;
  margin-right: 20px;
}

.home_title {
  font-size: 4rem;
  color: rebeccapurple;
}

.home_welcome {
  font-size: 2rem;
}
